# === Java / Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# === IDE (STS / Eclipse / IntelliJ / VS Code) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
.vscode/
.nbproject/private/

# === OS (Mac / Windows) ===
.DS_Store
Thumbs.db

# === 重要：秘密の設定ファイル（GitHubに上げない） ===
src/main/resources/application.properties

# === 例外：お手本ファイル（GitHubに上げる） ===
!src/main/resources/application.properties.example